.navbar {
  width: 100%;
  padding: 0 110px;
  margin: 0 0 20px 0;
}

.header-container {
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 55px 0 13px 11px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #052940;
}

.header-container img {
  margin: 0;
  width: 140px;
  height: auto;
}
.navbar-nav {
  font-size: 13px;
}

.nav-actions {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

/* 기본 색 + 전환 */
nav.navbar .nav-link {
  color: #052940 !important;
  transition: opacity 0.2s ease;
}

/* hover/클릭 순간 */
nav.navbar .nav-link:hover,
nav.navbar .nav-link:active {
  opacity: 0.5;
}

/* 모달 열린 동안 해당 링크만 계속 0.75 유지 */
nav.navbar .nav-link[aria-expanded="true"],
nav.navbar .nav-link[data-open="true"] {
  opacity: 0.5;
}

/* ≤ 1280px */
@media (max-width: 1280px) {
  .navbar {
    padding: 0 80px;
    margin: 0 0 18px 0;
  }
  .header-container {
    padding: 42px 0 11px 12px;
  }
  .header-container img {
    width: 115px;
  }
  .navbar-nav {
    font-size: 11px;
  }
}

/* ≤ 1024px */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 60px;
    margin: 0 0 16px 0;
  }
  .header-container {
    padding: 35px 0 9px 13px;
  }
  .header-container img {
    width: 105px;
  }
  .navbar-nav {
    font-size: 10px;
  }
}

/* ≤ 768px */
@media (max-width: 768px) {
  .navbar {
    padding: 0 40px;
    margin: 0 0 14px 0;
  }
  .header-container {
    padding: 25px 0 7px 14px;
  }
  .header-container img {
    width: 95px;
  }
  .navbar-nav {
    font-size: 9px;
  }
}

/* ≤ 480px */
@media (max-width: 480px) {
  .navbar {
    padding: 0 20px;
    margin: 0 0 12px 0;
  }
  .header-container {
    padding: 17px 0 5px 15px;
  }
  .header-container img {
    width: 75px;
  }
  .navbar-nav {
    font-size: 6px;
  }
}

/* ✅ 추가(juhui) : 익명 게시판 Navbar 배경색 수정  */
.navbar.article-navbar {
  background-color: #eaeaf5;
  margin: 0;
}
